.main {
    /* background-color:bisque; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
    border: 1px solid lightgray;

}
.nextPrevButtons {
}

.buttonStyle {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
}